@import "../../App.scss";
.home {
  background-color: lightsalmon;
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;

  .container {
    position: relative;
    top: 100px;
    margin: 0 80px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    h1 {
      color: #fff;
      font-size: 3rem;
      @include mobile {
        font-size: 2rem;
      }
      span {
        color: crimson;
      }
    }
    h3 {
      color: crimson;
      font-size: 2rem;

      span {
        color: #fff;
      }
      .ityped-cursor {
        animation: blink 1s infinite;
      }
      @keyframes blink {
        100% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }
    }
    img {
      color: #fff;
      width: 40px;
      position: absolute;
      left: 45%;
      bottom: -70%;
      transition: all 1s infinite;
      animation: blink 2s infinite;
      cursor: pointer;
    }
  }
}
.arrow {
  color: purple;
  font-size: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}
.arrow:hover {
  opacity: 0.5;
}
