@import "../../App.scss";
.otherservices {
  background-color: #f3f3f3;
  min-height: calc(100vh - 80px);

  h1 {
    color: crimson;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .servicescard {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
  }
}
