@import "../../App.scss";
.footer {
  background-color: crimson;
  height: auto;
  padding: 30px;
  color: white;

  .fcontainer {
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    @include mobile {
      flex-direction: column;
    }
  }
}
.icons {
  margin-top: 2rem;
  align-self: center;
  font-size: 1rem;
}
.icons > i {
  margin: 0 10px;
  font-size: 3em;
}
.copyright {
  padding: 20px;
  text-align: center;
  background-color: black;
  color: #fff;
  span {
    text-align: center;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
.anonymous:hover {
  transform: scale(1.1);
}
