.testimonials {
  background-color: #f3f3f3;
  h1 {
    color: #15023a;
    padding-top: 20px;
    text-align: center;
    color: crimson;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 0 20px;
  }
}
