.testimonials {
  background-color: #f3f3f3;
  min-height:100vh;
  h1 {
    color: #15023a;
    padding-top: 20px;
    text-align: center;
    color: crimson;
  }
  .cardContainer {
    padding-top:100px;
  }
}
